{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Oziq Ovqat Expert Web Site{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div id="header">
    <div class="d-flex justify-content-start">
        <a href="/" class="logo">Oziq Ovqat Expert Web Site</a>
        {% if user.is_active %}
            <a href="{% url "shop:my_order_list" %}" class="login btn  btn-primary ml-1">Buyurtmalar</a>
            <a href="{% url "shop:my_product_list" %}" class="login btn  btn-primary ml-1">Mahsulotlarim</a>
        {% endif %}

    </div>

    {% if user.is_active %}

        <div>
            <a href="{% url "profile" %}" class="login btn  btn-primary">Mening hisobim</a>
            <a href="{% url "logout" %}" class="login btn  btn-primary ml-1">Chiqish</a>

        </div>

    {% else %}
        <div>
            <a href="{% url "login" %}" class="login btn btn-primary">Kirish</a>
            <a href="{% url "register" %}" class="btn  btn-primary ml-1">Account yaratish</a>
        </div>

    {% endif %}

</div>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
            {% if total_items > 0 %}
                Your cart:
                <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} item{{ total_items|pluralize }},
                    ${{ cart.get_total_price }}
                </a>
            {% else %}
                Savatchangiz bo'sh
            {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>